* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #010101;
    display: block;
    margin: 0 auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}